body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-image: url("./assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #fff;
}


.container {
  max-width: 800px;
  margin: 40px auto;
  background-color: rgba(255, 255, 255, 0.1); /* saydam beyaz kutu */
  backdrop-filter: blur(8px);
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

h1, h2 {
  text-align: center;
  color: #fff;
}

button {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #2563eb;
}

input, select {
  padding: 8px;
  border: none;
  border-radius: 6px;
  margin-bottom: 10px;
  width: 100%;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
